<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>A Restoranı</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="{{ url_for('static', filename='img/tray.png') }}" rel="icon">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/flaticon/font/flaticon.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">A <span>Restoranı</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="index.html" class="nav-item nav-link active">Ana Sayfa</a>
                        <a href="about.html" class="nav-item nav-link">Hakkımızda</a>
                        <a href="exp.html" class="nav-item nav-link">Değerlendirmeler</a>
                        <a href="menu.html" class="nav-item nav-link">Menü</a>
                        <a href="contact.html" class="nav-item nav-link">İletişim</a>

                        <!-- KULLANICI EĞER GİRİŞ YAPABİLDİYSE AKTİF OLAN NAVBAR KISIMLARI -->
                        {% if current_user.is_authenticated %}
                        <a href="myreservations.html" class="nav-item nav-link">Rezervasyonlarım</a>
                        <a href="reservation.html" class="nav-item nav-link">Rezervasyon Yap</a>
                        <a href="dashboard.html" class="nav-item nav-link">Profil</a>
                        {% else %}
                        <a href="login.html" class="nav-item nav-link">Giriş Yap/Kayıt Ol</a>
                        {% endif %}

                        
                    </div>
                </div>
            </div>
        </div>

        {% block content %} {% endblock %}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Adreslerimiz</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Lorem ipsum dolor</p>
                                    <p><i class="fa fa-phone-alt"></i>Lorem ipsum dolo</p>
                                    <p><i class="fa fa-envelope"></i>Lorem ipsum dolor</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Linkler</h2>
                                    <a href="">Kullanım Şartları</a>
                                    <a href="">Gizlilik Politikası</a>
                                    <a href="">Çerez Politikası</a>
                                    <a href="">Yardım</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Haber Bültenimize Kayıt Olun!</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                            </p>
                            <div class="form">
                                <input class="form-control" placeholder="Email">
                                <button class="btn custom-btn">Gönder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                </div>
            </div>
        </div>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>
        
        <script src="{{ url_for('static', filename='mail/jqBootstrapValidation.min.js') }}"></script>
        <script src="{{ url_for('static', filename='mail/contact.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>