{% extends 'base.html' %}
{% block content %}


{% include "header.html" %}

    <div class="contact">
        <div class="container">
            <div class="section-header text-center">
                <h2>Bize Ulaşın!</h2>
            </div>
            <div class="row align-items-center contact-information">
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Adresimiz</h3>
                            <p>Orhantepe Mahallesi, Turgut Özal Bulvarı, No: 21 Dragos, 34865 Kartal/İstanbul, Türkiye</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Bize Arayabilirsiniz!</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Bize Email Gönderebilirsiniz</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-share"></i>
                        </div>
                        <div class="contact-text">
                            <h3>Bizi Takip Edin</h3>
                            <div class="contact-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12061.733962983384!2d29.14966555726342!3d40.90624019068928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7e272d9eb83%3A0x8f721b7cb2c4b3f6!2sMarmara%20%C3%9Cniversitesi%20Mehmet%20Gen%C3%A7%20K%C3%BClliyesi!5e0!3m2!1sen!2sbd!4v1711398963956!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
