{% extends 'base.html' %}
{% block content %}
{% include "header.html" %}



<style>
body{margin-top:20px;
    background-color:#eee;
    }
    .project-list-table {
        border-collapse: separate;
        border-spacing: 0 12px
    }
    
    .project-list-table tr {
        background-color: #fff
    }
    
    .table-nowrap td, .table-nowrap th {
        white-space: nowrap;
    }
    .table-borderless>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    .table>:not(caption)>*>* {
        padding: 0.75rem 0.75rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    
    .avatar-sm {
        height: 2rem;
        width: 2rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .me-2 {
        margin-right: 0.5rem!important;
    }
    img, svg {
        vertical-align: middle;
    }
    
    a {
        color: #3b76e1;
        text-decoration: none;
    }
    
    .badge-soft-danger {
        color: #f56e6e !important;
        background-color: rgba(245,110,110,.1);
    }
    .badge-soft-success {
        color: #63ad6f !important;
        background-color: rgba(99,173,111,.1);
    }
    
    .badge-soft-primary {
        color: #3b76e1 !important;
        background-color: rgba(59,118,225,.1);
    }
    
    .badge-soft-info {
        color: #57c9eb !important;
        background-color: rgba(87,201,235,.1);
    }
    
    .avatar-title {
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    .bg-soft-primary {
        background-color: rgba(59,118,225,.25)!important;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Rezervasyonlarınız <span class="text-muted fw-normal ms-2"></span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <a href="reservation.html" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Kullanıcı Adı</th>
                                <th scope="col">Tarih</th>
                                <th scope="col">Saat</th>
                                <th scope="col">Davetli</th>
                                <th scope="col">Masa Numarası</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#" class="text-body">Simon Ryles</a></td>
                                <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>
                                <td>SimonRyles@minible.com</td>
                                <td>5</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Marion Walker</a></td>
                                <td><span class="badge badge-soft-info mb-0">Frontend Developer</span></td>
                                <td>MarionWalker@minible.com</td>
                                <td>3</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Marion Walker</a></td>
                                <td><span class="badge badge-soft-info mb-0">Frontend Developer</span></td>
                                <td>reservation.time</td>
                                <td>3</td>
                                <td>
                                   <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Shanon Marvin</a></td>
                                <td><span class="badge badge-soft-primary mb-0">Backend Developer</span></td>
                                <td>ShanonMarvin@minible.com</td>
                                <td>2</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Marion Walker</a></td>
                                <td><span class="badge badge-soft-info mb-0">Frontend Developer</span></td>
                                <td>MarionWalker@minible.com</td>
                                <td>3</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Janice Morgan</a></td>
                                <td><span class="badge badge-soft-primary mb-0">Backend Developer</span></td>
                                <td>JaniceMorgan@minible.com</td>
                                <td>3</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Patrick Petty</a></td>
                                <td><span class="badge badge-soft-danger mb-0">UI/UX Designer</span></td>
                                <td>PatrickPetty@minible.com</td>
                                <td>2</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Marilyn Horton</a></td>
                                <td><span class="badge badge-soft-primary mb-0">Backend Developer</span></td>
                                <td>MarilynHorton@minible.com</td>
                                <td>5</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Neal Womack</a></td>
                                <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>
                                <td>NealWomack@minible.com</td>
                                <td>3</td>
                                <td>
                                    <!------- boş kısım -------->
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="text-body">Neal Womack</a></td>
                                <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>
                                <td>NealWomack@minible.com</td>
                                <td>3</td>
                                <td>
                                   <!------- boş kısım -------->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing 1 to 10 of 57 entries</p></div>
        </div>
        <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                    <li class="page-item disabled">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>






{% endblock %}